<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Courtesy App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CourtesyNotificationWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CourtesyWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F439DF71C8463A00002CA99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD7BAF31C9326BB00F9F4D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CE7E65C1A62D8470072121A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CE7E6751A62D8470072121A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
